.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    height: 900px;
    /* width:  */
    background-color: #fda356;
    font-size: 55px;
    font-family: Alfa Slab One static;
    width: 100%;
}

.fotocards {
    display: flex;
    justify-content: center;
    height: 820px;
    align-items: center;
    gap: 40px;
    max-width: 800px;
    flex-wrap: wrap;
    padding: 60px;

}

.fotocards .img {
    height: 200px;
    width: 200px;
}